.flip-cards {
    padding-top: 145px;
    @media (max-width: 1024px) {
        padding-top: 100px;
    }
    @media (max-width: 376px) {
        padding-top: 70px;
    }
    &__title {
        margin-bottom:  40px;
        max-width: 450px;
        @media (max-width: 768px) {
            max-width: 285px;
            margin-bottom: 20px;
        }
    }
    &__img {
        border-radius: 16px;
        margin-bottom: 36px;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 1439px) {
            justify-content: center;
        }
        .flip-card {
            background-color: transparent;
            width: 445px;
            height: 240px;
            perspective: 1000px;
            @media (max-width: 1024px) {
                height: 200px;
                max-width: 341px;
            }
            &.rotate {
                .flip-card__wrap {
                    transform: rotateY(180deg);
                }
            }
            &__wrap {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform 0.8s;
                transform-style: preserve-3d;
            }

            &__front, &__back {
                position: absolute;
                display: flex;
                border-radius: 16px;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden !important;
                backface-visibility: hidden;
            }
            &__front {
                justify-content: center;
                align-items: center;
                background-color: #C2F23C;
                transition: 0.3s all;
                z-index: 1;
                &_bg-1 {
                    background-image: url('./img/back_illustr_1.jpg');
                }
                &_bg-2 {
                    background-image: url('./img/back_illustr_2.jpg');
                }
                &_bg-3 {
                    background-image: url('./img/back_illustr_3.jpg');
                }
                &_bg-4 {
                    background-image: url('./img/back_illustr_4.jpg');
                }
                &_bg-5 {
                    background-image: url('./img/back_illustr_5.jpg');
                }
                &_bg-6 {
                    background-image: url('./img/back_illustr_6.jpg');
                }
            }
            &__back {
                background-color: #fff;
                transform: rotateY(180deg);
                padding: 40px 10px 40px 32px;
                @media (max-width: 1024px) {
                    padding: 40px 24px;
                }
            }
            &__title {
                font-size: 30px;
                font-weight: 500;
                z-index: 2;
                @media (max-width: 1024px) {
                    font-size: 22px;
                }
            }
            &__img {
                position: absolute;
                border-radius: 16px;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }
            &__content {
                font-size: 20px;
                line-height: 23px;
                text-align: start;
                overflow-y: auto;
                padding-right: 10px;
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    background: #ECECEC;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #A6ABB3;
                    border-radius: 3px;
                }
            }
        }
    }
}
